<h2>Edit Author</h2>

<div class="row">
	<div class="col-md-6">
		{{author-item-form item=model buttonLabel='Save Changes' action='saveAuthor'}}
	</div>
	<div class="col-md-4">
		{{#author-item item=model}}
			<br>
		{{/author-item}}
	</div>
</div>
